$primary-color: white;

body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: rgb(65, 65, 65);
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4,
.bgimg-5,
.bgimg-6,
.contact {
  position: relative;
  opacity: .75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("/src/public/assets/images/a-logo-i-made.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("/src/public/assets/images/Alisha.png");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("/src/public/assets/images/Zianderthals2.png");
  min-height: 500px;
}

.bgimg-4 {
  background-image: url("/src/public/assets/images/Animations.png");
  min-height: 400px;
}

.bgimg-5 {
  background-image: url("/src/public/assets/images/physical-installation.png");
  min-height: 400px;
}

.bgimg-6 {
  background-image: url("/src/public/assets/images/azbeerenthusiastsbanner.png");
  min-height: 700px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: rgb(54, 54, 54);
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  border: solid black;
}

.contact {
  //   background-color: rgb(158, 158, 158);
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  //   border: solid black;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.information {
  text-align: center;
}

.divider {
  color: #ddd;
  background-color: #282e34;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}
